header {
    padding: 0.5%;
    font-size: 40px;
    text-align: center;
    color: white;
    background-color: rgb(32, 35, 82);
};

#searchBtn {
    border-radius: 20%;
    background-color: blue;
    color: white;
};

  
.fas {
    font-size: 20px;
    transition: all .3s ease-in-out;
};

main {
    margin: 30%;
    padding: 20%;
};
